body{
    margin: 0;
    width: 100%;
}

header{
    margin-bottom: 3px;
    width: 100%;
    border: 1px solid transparent;
    box-shadow: 0 4px 0 0 #d4d4d4;
}

.img_header{
    max-width: 50%;
    margin: -14px 25%;
}

.title{
    font-family: Shrikhand, cursive, sans-serif;
    font-weight: 100;
}

/*.loader {
    border: 16px solid #9356DC;
    border-top: 16px solid #FF79DA;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }*/

.Localisation{
    width: 100%;
    height: 49px;
    background-color: #eaeaea;
    padding-bottom: 7px;
}

.text_loc{
    margin-left: 26%;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    padding-top: 1px;
}

.text_loc i{
    margin-right: 8%;
}

.Exploration{
    width: 100%;
    margin-bottom: 20px;
    padding-top: 43px;
    padding-bottom: 43px;
    font-family: Roboto, sans-serif;
    background-color: #f6f6f6;
}

.Exploration h1{
    text-align: center;
    font-weight: bold;
    width: 70%;
    margin-top: -12px;
    margin-left: 13%;

}

.Exploration h3{
    font-weight: 300;
    text-align: center;
    font-size: 17px;
    margin-top: -11px;
    margin-bottom: 23px;
    margin-left: 13%;
    width: 78%;
}

/*.Exploration */input{
    border: 1px solid transparent;
    border-radius: 25px 25px;
    width: 214px;
    height: 50px;
    padding: 12px;
    font-weight: 500;
    color: white;
    background: linear-gradient(to top left, #9356DC, #FF79DA);
    margin-left: 23%;
    box-shadow: 0px 3px 3px 2px #dfdfdf;
}

.Explication{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    font-family: Roboto, sans-serif;
}

.Explication h1{
    margin-left: 2%;
    font-weight: bold;
}

.Explication p{
    border: 2px solid #f6f6f6;
    border-radius: 15px 15px;
    padding: 20px;
    width: 292px;
    background-color: #f6f6f6;
    box-shadow: 0 3px 3px 2px #e7e7e7;
    font-weight: 500;
    font-size: 14px;
    margin-left: 24px;
}

.Explication i{
    margin-right: 27px;
    margin-left: -10px;
    color: #7e7e7e;
}

.Explication span{
    margin-right: 34px;
    margin-left: -32px;
    border-radius: 100%;
    padding: 7px;
    color: white;
    background-color: #9356DC;
}

.container_restaurants{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Roboto, sans-serif;
    width: 100%;
    background-color: #f6f6f6;
}

.plates{
    width: 319px;
    height: 20vh;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}

.Restaurants{
    width: 80%;
    margin-left: 4%;
}

.Restaurants h1{
    margin-top: 10%;
}

.Cards{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    /*width: 56%;*/
}

.Cards a{
    text-decoration: none;
    color: black;

}

.Cards .name{
    font-weight: bold;
    margin-bottom: -14px;
    margin-top: -10px;
}

.Cards .where{
    font-weight: 300;
}

.restau .name, .where{
    margin-left: 4%;
}

.restau{
    /*margin-left: -12%;*/
    border: 2px solid white;
    width: 319px;
    height:30vh;
    margin-bottom: 23px;
    background-color: white;
    border-radius: 25px 25px;
    box-shadow:  0 3px 3px 2px #e7e7e7;
}

.restau .heart{
    position: relative;
    left: 87%;
    bottom: 24%;
    font-size: 22px;
    width: 2%;
}

footer{
    width: 100%;
    height: 200px;
    font-family: Roboto, sans-serif;
    color: white;
    background-color: #353535;
}

footer h1{
    font-size: 16px;
    margin-bottom: 7%;
    padding-top: 4%;
    margin-left: 7%;
    font-weight: 500;
}

footer a{
    text-decoration: none;
    color: white;
}

footer a p{
    margin-top: -10px;
}

footer i{
    margin-right: 8px;
}

footer span{
    font-weight: bold;
}

.link_footer{
    margin-left: 8%;
}

                                                            /**restaurants**/

header.header{
    margin-bottom: 16px;
    margin-top: 10px;
    border: none;
    box-shadow: none;
}

.img_header_restaurant{
    max-width: 48%;
    margin: -10px 15%;
}

header .arrow i{
    text-decoration: none;
    color:#353535;
    margin-top: 2%;
    margin-left: 4%;
}

.photo img{
    width: 100%;
    height: auto;
    max-height: 600px;
    object-fit: cover;
}

.container_menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin-top: -57px;
    /*border: 2px solid #f6f6f6;
    border-radius: 55px 55px 0 0;
    background-color: #f6f6f6;*/
}

.menu{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: center;
    background-color: white;
    border-radius: 55px 55px 0 0;

}

.menu h1{
    margin-left: 7%;
}

.title_heart{
    position: relative;
    left: 16px;
    bottom: -25px;
    font-size: 22px;
}

.menu .food{
    font-family: Roboto, sans-serif;
    font-weight: 300;
    margin-left: 3% ;
}

.description{
    border: 2px solid white;
    width: 346px;
    height:9vh;
    margin-bottom: 17px;
    margin-left: 2%;
    background-color: white;
    border-radius: 15px 15px;
    box-shadow:  0 3px 3px 2px #e7e7e7;
}


.nom_plat{
    margin-top: 9px;
    margin-left: 10px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
}

.ingredients{
    margin-top: -10px;
    margin-left: 10px;
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 14px;
}

.prix{
    margin-top: -31px;
    margin-left: 280px;
    font-family: Roboto, sans-serif;
    font-weight: bold;
    font-size: 14px;
}

.order{
    margin-left: 3%;
}


/*********************************************************zone tests   animations******************************************************************/

                                                            /*test menu défilant*/

.container_menu .description{
    animation-name: slide;
    animation-duration: 2s;
}

@keyframes slide {
    0%{
        margin-bottom: 100%;
        opacity:0;
    }
    50%{
        margin-bottom: 50%;
        opacity: 0.5;
    }
    100%{
        margin-bottom: 0%;
        opacity: 1;
    }
}

                                            /*test :hover boutons*/

input:hover{
    background: linear-gradient(to top left, #eca6e6, #ce98ee);
    box-shadow: 0px 3px 3px 2px #dfdfdf;
}
